.App {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 1em auto;
  background-color: #4c2a4c;
  padding: 10px 20px;
  text-align: center;
}
nav h1{
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav ul > li{
  list-style: none;
}

nav ul > li a {  
  display: inline-block;
  margin: .2rem .7rem;
  padding: .3rem .6rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: .89rem;
  letter-spacing: 1px;
}

.book-list li{
  margin: .5em auto;
  padding: .5rem 1rem;
  background-color: #6d3d6d;
  width: 70%;
  list-style: none;
  cursor: pointer;
  border-radius: 5px;
  transition: .2s;
  text-transform: capitalize;
}
.book-list li:hover{
  opacity: .8;
  text-decoration: line-through;
}
.book-list .title{
  font-weight: 600;
  font-size: 1.1rem;
}
.book-list .author{
  font-size: .9rem;
  color: #ddd;
}
.empty{
  text-align: center;
  margin: 20px;
}
.form{
  margin: 0 auto;
  width: 70%;
}
input[type="text"]{
  display: inline-block;
  width: 100%;
  margin: .5rem auto;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #3c1f3c;
  color: #fff;
}
.btn{
  margin: 1rem auto;
  width: 100%;
  padding: 10px 20px;
  background-color: #eee;
  display: block;
}
.btn:hover{
  cursor: pointer;
}

@media screen and (max-width: 768px){
  nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 120px;
  }
  nav ul{
    margin-top: .8rem;
  }
}
